* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  /* overflow-x: hidden; */
  background-color: #F5F5F5;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  left: 0;
  transform: none;
  height: 95px;
  flex-shrink: 0;

  background: rgba(251, 251, 251, 0.25);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  
  z-index: 1000;
  transition: background 0.3s ease, opacity 0.3s ease;
}

.anchor-offset {
  display: block;
  position: relative;
  top: -95px;
  height: 0;
  visibility: hidden;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
  height: auto;
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;
  left: 57px;
  width: 175px;
  height: 36.458px;
  top: 30px;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: clamp(10px, 2vw, 50px);
  padding-right: 47px;
  margin-left: auto;
}

.nav-links li a {
  width: 60px;
  height: 42.265px;
  flex-shrink: 0;
  color: var(--Textura-6, #DCD7FA);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: color 0.3s ease;
}

.hydropick-container {
  width: 629px;
  height: 330px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  background: radial-gradient(
    151.92% 127.02% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.20) 0%,
    rgba(110, 191, 244, 0.04) 77.08%,
    rgba(70, 144, 212, 0.00) 100%
  );
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.hydropick-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 2px;
  z-index: -1;

  background: linear-gradient(
    135deg,
    rgba(234, 191, 255, 1) 0%,
    rgba(234, 191, 255, 1) 42%,
    rgba(193, 220, 255, 0.5) 48%,
    rgba(152, 249, 255, 1) 55%,
    rgba(152, 249, 255, 1) 100%
  );

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  box-sizing: border-box;
}

.hydropick-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #F8F8F8;
  font-size: 137.25px;
  line-height: normal;
  height: 122px;
  font-family: 'Barlow Condensed', sans-serif;
  padding-top: 89px;
}

.hydropick-title .light {
  font-style: italic;
  font-weight: 300;
}

.hydropick-title .bold {
  font-style: normal;
  font-weight: 600;
}

.hydropick-subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--White, #F9F9F9);
  font-family: Barlow;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 93px;
}

.hydropick-icon {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hydropick-icon svg {
  width: 36.796px;
  height: 42.838px;
  flex-shrink: 0;
}

.hydropick-link {
  text-decoration: none;
  display: inline-block;
  width: auto;
  height: auto;
}

.hydropick-link .hydropick-container {
  cursor: pointer;
}

.hydropick-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 150px;
  margin-bottom: 7rem;
}

.scroll-divider-icon-home {
  width: 60px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  bottom: 40px;
}


.scroll-divider-icon-home:hover {
  transform: translateY(4px);
}

.scroll-divider-icon-home-about {
  width: 60px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}


section {
  padding: 0;
  width: 100%;
  scroll-margin-top: 95px;
}

#home {
  background-image: url('images/WEBSITEHPjpg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #B98DFF;

  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100dvh;
  max-height: 100dvh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding: 0;
  text-align: center;
}

.about-title {
  overflow: hidden;
  color: var(--Another-Textura-Purple, #2F2152);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Barlow Condensed";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 43px;
  padding-top: 18.86px;
}

.italic-bold {
  font-style: italic;
  font-weight: 700;
}

.question-mark {
  font-style: normal;
  font-weight: 700;
}

.about-textura p {
  color: var(--Textura-10, #36345A);
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  max-width: 1282px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 0;
  margin-bottom: 0;
}

.about-textura .bold {
  font-weight: 700;
}

.divider {
  margin-top: 68px;
  width: 95%;
  height: 2px;
  background-color: #2F2152;
  margin-bottom: 0;
}

.products-title {
  overflow: hidden;
  color: var(--Another-Textura-Purple, #2F2152);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Barlow Condensed";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 60px;
  padding-bottom: 46px;
}

.products-title-b{
  overflow: hidden;
  color: var(--Another-Textura-Purple, #2F2152);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Barlow Condensed";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 60px;
  padding-bottom: 25px;
}

.products-title-c {
  overflow: hidden;
  color: var(--Another-Textura-Purple, #2F2152);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Barlow Condensed";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 40px;
  padding-bottom: 46px;
}

.products-textura p {
  color: var(--Textura-10, #36345A);
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  max-width: 1282px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 33px;
  margin-bottom: 0;
}

.contact-title {
  overflow: hidden;
  color: var(--Another-Textura-Purple, #2F2152);
  font-family: "Barlow Condensed";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 60px;
  white-space: normal;
  overflow-wrap: normal;
  word-break: normal;
  text-align: left;
}

.contact-textura p {
  color: var(--Another-Textura-Purple, #2F2152);
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 28px;
  max-width: 1282px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 43px;
  margin-bottom: 0;
}

.normal{
  font-weight: 400;
}


.card-stack {
  position: relative;
  width: clamp(280px, 90%, 412px);
  height: 511px;
  flex-shrink: 0;
}

.card-stack-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
}

.card-text {
  position: relative;
  z-index: 2;
}

.background-card {
  width: clamp(280px, 90%, 412.097);
  height: clamp(334px ,100%, 490px);
  flex-shrink: 0;
  background-color: #E6E6E6;
  border-radius: 29.089px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: left;

  color: var(--Another-Textura-Purple, #2F2152);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* padding-left: 25px; */
}

.background-card p {
  color: var(--Another-Textura-Purple, #2F2152);
  font-family: "Barlow", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 15px;
  padding-left: 17px;
}

.product-subtitle {
  color: var(--Another-Textura-Purple, #2F2152);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
  padding-left: 17px;
}

.product-card {
  position: absolute;
  bottom: 12.61px;
  left: 12.61px;
  right: 11.64px;
  width: clamp(270px, 95%, 395px);
  height: clamp (250.76 ,70%,366.85px);
  margin-bottom: 10px;
  background-color: #F2F2F2;
  box-shadow: none;
  flex-shrink: 0;
  aspect-ratio: 387.86/387.86;
  background-color: #F2F2F2;
  border-radius: 19.393px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  aspect-ratio: 1 / 1;
}

.product-img-pick {
  width: 109.234px;
  height: 305px;
  object-fit: contain;
  margin-top: 40.46px;
}

.product-img-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: flex-start;
  padding-left: 38.39px;
}

.product-img-butter {
  width: 163.747px;
  height: 157px;
  object-fit: contain;
  margin-top: 108.46px;
  margin-right: -10px;
}

.product-img-crown {
  width: 140.727px;
  height: 144px;
  object-fit: contain;
  margin-top: 133.46px;
  margin-left: -10px;
}

.product-img-cart {
  width: 77.796px;
  height: 292px;
  object-fit: contain;
  margin-top: 47.46px;
}

.action-card-stack {
  position: relative;
  flex-shrink: 0;
}

.action-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  width: 100%;
}

.action-img {
  width: 300px;
  height: 360px;
  aspect-ratio: 300 / 360;
  border-radius: 20px;
  object-fit: cover;
  max-width: 100%;
}

.action-label {
  width: 294px;
  height: 65px;
  flex-shrink: 0;

  color: var(--Textura-10, #36345A);
  text-align: center;
  font-family: "Barlow Condensed";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.action-text-row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.all-card-stack {
  padding-top: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  box-sizing: border-box;
}

.all-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
}

.all-icons-row-a {
  padding-top: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  max-width: 1282px;
  width: 100%;
  box-sizing: border-box;
}

.all-icons-row-b {
  padding-top: 20px;
  margin: 0;
  display: flex;
  justify-content: left;
  padding-left: 49px;
  padding-bottom: 25px;
  gap: 36px;
  max-width: 100%;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.all-img {
  width: 369px;
  height: 538px;
  aspect-ratio: 300/360;
  flex-shrink: 0;
  border-radius: 10px;
}

.all-description-row {
  display: flex;
  justify-content: left;
  padding-left: 48px;
  padding-bottom: 25px;
  gap: 35px;
  max-width: 100%;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.all-description-box{
  width: 369px;
  height: 106px;
  flex-shrink: 0;
  border-radius: 7.818px;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 10px 13px 30px 13px;
}

.all-description-box p {
  color: var(--Another-Textura-Purple, #2F2152);
  font-family: Barlow;
  font-size: clamp(15px, 80% ,19.544px);
  /* font-size: 19.544px; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  width: 350px;
}

.all-description-box b {
  color: var(--Another-Textura-Purple, #2F2152);
  font-family: Barlow;
  font-size: clamp(14px, 50% ,19.544px);
  /* font-size: 19.544px; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  width: 380px;
  padding: 4px 23px 36px 2px;
}

.contact-icons-row {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  gap: 14.8px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.contact-icons-row img {
  width: 105.612px;
  height: 105.612px;
  flex-shrink: 0;
  justify-content: left;
  text-align: left;
}

.stacked-icon {
  position: relative;
  width: 105.612px;
  height: 105.612px;
}

.stacked-icon .base-img {
  width: 100%;
  height: 100%;
  display: block;
}

.stacked-icon .overlay-img {
  position: absolute;
  width: 59.847px;
  height: 70.408px;
  top: 50%;
  left: 50%;
  flex-shrink: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.hair-divider {
  width: 100%;
  line-height: 0;
  padding: 0;
  margin: 0;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 2;
  line-height: 0;
  display: block;
  font-size: 0;
}

.hair-divider img {
  width: 58.737px;
  height: 155.399px;
  display: block;
  object-fit: contain;
}

.hair-divider.home-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.hair-divider.home-arrow img {
  width: 58.737px;
  height: 155.399px;
  clip-path: inset(0 0 35% 0);
  margin: 0 auto;
  display: block;
  object-fit: contain;
  clip-path: inset(0 0 35% 0);
  margin-bottom: -53.899px;
  margin-top: 128px;
}

.hair-divider.about-arrow {
  top: 0;
  display: flex;
  justify-content: center;
}

.hair-divider.about-arrow img {
  width: 58.737px;
  height: 155.399px;
  clip-path: inset(65% 0 0 0);
  margin-top: -101.5px;
}

.nav-links li a.scrolled-color {
  color: #36345A !important;
}

.logo.scrolled-logo {
  filter: brightness(0) saturate(100%) invert(14%) sepia(25%) saturate(1025%) hue-rotate(219deg) brightness(98%) contrast(96%);
}

#about {
  background: #F5F5F5;
  text-align: left;
  /* padding-left: 79px; */
  justify-content: center;
  margin: 0; 
  padding-bottom: 0;
}

#products {
  background: #F5F5F5;
  text-align: left;
  /* padding-left: 79px; */
  padding-bottom: 0;
  justify-content: center;
}

#events {
  background: #F5F5F5;
  text-align: left;
  /* padding-left: 79px; */
}

#team {
  background: #F5F5F5;
  text-align: left;
  /* padding-left: 79px; */
}

#contact {
  background: #F5F5F5;
  text-align: left;
  /* padding-left: 79px; */
}

#about,
#products,
#events,
#team,
#contact {
  scroll-margin-top: 95px;
}

@media (min-width: 769px) {
  #about,
  #products,
  #events,
  #team,
  #contact {
    padding-left: 79px !important;
    padding-right: 1rem;
  }
}

@media (max-width: 768px) {
  nav {
    height: auto;
    padding: 0.5rem 1rem;
  }

  section,
  #home,
  #about,
  #products,
  #events,
  #team,
  #contact {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    text-align: left;
  }

  .nav-container {
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding-left: 0.25rem;
    gap: clamp(5px, 10vw, 1rem);
    margin-left: auto;
    padding-right: 0;
  }

  .nav-links li a {
    font-size: 12px;
    height: auto;
    width: auto;
    line-height: 1.4;
  }

  .logo {
    position: relative;
    top: auto;
    left: auto;
    width: 100px;
    height: auto;
    margin: 0;
  }

  .hydropick-container {
    padding:1rem;
    width: 90vw;
    height: auto;
    border-radius: 20px;
  }

  .hydropick-title {
    padding-top: 3rem;
    padding-bottom:2rem;
    font-size: clamp(6rem, 12vw, 3rem);
  }

  .hydropick-subheader {
    font-size: clamp(1rem, 5vw, 1.5rem);
    padding-top: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-textura p,
  .products-textura p,
  .contact-textura p {
    font-size: 1rem;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .products-title,
  .products-title-b,
  .products-title-c,
  .contact-title,
  .about-title {
    font-size: 2rem;
    padding: 1rem;
  }



  /* .product-card {
    position: absolute;
    bottom: 30px;
    left: 12.61px;
    right: 11.64px;
    height: calc(100% - 110.54px - 12.61px);
    background-color: #F2F2F2;
    box-shadow: none;
    flex-shrink: 0;
    aspect-ratio: 387.86/387.86;
    border-radius: 19.393px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
    aspect-ratio: 1 / 1;
  } */

  .card-stack-row,
  .action-text-row,
  .all-icons-row,
  .all-description-row{
    flex-direction: column;
    align-items: center;
    padding-left: 0 !important;
    gap: 1.5rem;
  }

  .contact-icons-row {
    flex-direction: row;
    align-items: center;
    padding-left: 0 !important;
    gap: 1rem;
  }

  .card-stack-row,
  .all-icons-row,
  .all-description-row {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
  }

  .action-card-stack {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 1rem;
  }
  .action-stack {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: clamp(1px, 0.2vw, 10px);
    justify-content: center;
  }

  .action-label {
    font-size: 20px;
    width: auto;
    height: auto;
  }

  .action-img {
    width: 22vw;
    height: auto;
    max-width: 100px;
    flex: 1 1 auto;
  }

  .card-text p,
  .product-subtitle {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    text-align: left;
    line-height: 1.4;
    margin: 0;
  }

  .product-subtitle {
    font-size: clamp(1rem, 4vw, 1.3rem);
  }

  .card-text p {
    font-size: clamp(1.3rem, 6vw, 1.875rem);
  }

  .card-text {
    padding: 0;
  }

  .all-description-box,
  .all-img,
  .action-img {
    width: 90% !important;
    height: auto !important;
  }

  .action-text-row p {
    font-size: 1.2rem;
  }

  .product-img-row {
    justify-content: center;
    padding-left: 0;
  }

  .product-img-pick,
  .product-img-butter,
  .product-img-crown,
  .product-img-cart {
    max-width: 100%;
    height: auto;
  }

  .all-description-box p,
  .all-description-box b {
    width: 100%;
    padding: 0;
  }

  .contact-icons-row img,
  .stacked-icon {
    width: 60px;
    height: 60px;
  }

  .stacked-icon {
    vertical-align: middle;
    margin-bottom: 8px;
  }

  .stacked-icon .overlay-img {
    width: 34px;
    height: 40px;
    top: 50%;
    left: 50%;
  }

  .stacked-icon .base-img {
    width: 60px;
    height: 60px;
  }
}

